@import 'antd/dist/reset.css';
@import '@/assets/css/antd-custom.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.layout-content-main {
    margin: 10px 20px;
}

/* menu common */
.content-menu {
    margin-left: 20px;
}

/* page header common */
.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    border-radius: 8px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.site-page-header .page-header-heading-title {
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
}

.header-icon {
    padding: 20px;
}

.header-highlight-link {
    border: 1px solid #98d79d;
    background: #edf5ea;
    width: 20%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.header-highlight-link a {
    color: #5c98e5;
    font-weight: 600;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 100%;
}


/* page header common */
.site-page-content {
    border: 1px solid rgb(235, 237, 240);
    border-radius: 8px;
    margin: 15px;
    display: flex;
    align-items: center;
}


/*page postpaid management*/
.form-search-customer {
    display: block;
    margin-top: 0em;
    width: 100%;
    padding: 10px
}

.form-search-customer fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.content-customer-information {
    margin: 10px;
    width: 100%
}

/* common */
.display-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.button-continue {
    margin: 10px;
}

.message-error {
    color: #d71e1f;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.message-error-data {
  color: #d71e1f;
  display: flex;
  justify-content: left;
  margin-top: 5px;
}

.button-title-red {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 10px;
}

.button-title-red button {
    background-color: #cc1600;
    color: aliceblue;
}

.button-title-green button {
    background-color: #1562d7;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}


.legend-color {
    color: #1562d7;
}

.title-bold {
    font-weight: 600;
    margin-bottom: 5px;
}

.title-red {
    color: red;
}

.class-is-total {
    background-color: #1562d7;
}